asgiref
certifi
charset-normalizer
Django==2.1.9
django-mssql-backend==2.8.1
django-pyodbc-azure==2.1.0.0
gunicorn
idna
mssql-django
packaging
Pillow
pyodbc
pytz
requests
sqlparse
tzdata
urllib3
whitenoise
